[package]
name = "itomcovertor-desktop"
version = "1.0.0"
description = "ItoM Unit Converter Desktop Application"
authors = ["ItoMcovertor"]
edition = "2021"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
strip = true
